include lectern

.ratio.ratio-4x3
    .category-scroll-container.d-none 
        .category-scroll
            - var cat=0
            - while (cat<6)
                .category-box.category-hidden(data-col=`${cat}`)
                    .category-div(data-col=`${cat}`)
                    .comment-div(data-col=`${cat}`)
                - cat++
    .game-board
        .dd-div
        - var row = 0
        - while (row < 6)
            - var col = 0;
            - while (col<6)
                - if (row===0)
                    .category-box.category-hidden(data-category=`${col}`) 
                        .category-div(data-col=`${cat}`)
                - else 
                    .clue-box(data-category=`${col}` data-row=`${row-1}`)
                        .clue-value(data-category=`${col}` data-row=`${row-1}`)
                - col++
            - row++
    .live-clue-display.d-none 
        .side-light.side-light-left
            .side-light-inner
        .side-light.side-light-right
            .side-light-inner 
        .category-display
            .category-text.m-auto
        .value-display
            .value-text.m-auto
        .clue-display
            .clue-text.m-auto
            #clue-image.d-none
        .response-display 
            .response-text.m-auto
    .fj-category.d-none
        .category-box
            .category-div
    .fj-response-div.d-none
        .fj-response-display
            .display-inner
        .fj-wager-display
            .display-inner


.lecterns
    +lectern(0)
    +lectern(1)
    +lectern(2)

