mixin lectern(n)
    .lectern(data-index=`${n}`)
        .ratio(style="--bs-aspect-ratio:3.7%;")
            div.d-flex
                .timer
                    - var i = 0
                    - while (i<9)
                        .timer-light(data-time=`${Math.abs(i-4)}`)
                        - i++
        .ratio.ratio-1x1
            .lectern-body    
                .lectern-left
                    .lectern-image
                .lectern-center
                    .score-display.d-flex
                        .score.m-auto $0
                    .light.light-top
                    .ratio.ratio-4x3.name-display
                        div
                            .w-100.h-100.d-flex
                                .m-auto.edit-player 
                                    //- nice to have later - ability to draw name
                                    button.btn.btn-sm.btn-primary.edit-player-button Edit Player
                                .m-auto.name-container.d-none
                                svg.lectern-name-canvas.d-none(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 300")
                                    rect(x="0" y="0" height="300" width="400" fill="var(--blue)")
                                    g.player-name-path(stroke-width="8" stroke="#fff" fill="transparent" stroke-linecap="round")
                    .light.light-bottom
                .lectern-right
                    .lectern-image

.ratio.ratio-4x3
    .category-scroll-container.d-none 
        .category-scroll
            - var cat=0
            - while (cat<6)
                .category-box.category-hidden(data-col=`${cat}`)
                    .category-div(data-col=`${cat}`)
                - cat++
    .game-board
        .dd-div
        - var row = 0
        - while (row < 6)
            - var col = 0;
            - while (col<6)
                - if (row===0)
                    .category-box.category-hidden(data-category=`${col}`) 
                        .category-div(data-col=`${cat}`)
                - else 
                    .clue-box(data-category=`${col}` data-row=`${row-1}`)
                        .clue-value(data-category=`${col}` data-row=`${row-1}`)
                - col++
            - row++
    .live-clue-display.d-none 
        .side-light.side-light-left
        .side-light.side-light-right 
        .category-display
            .category-text.m-auto
        .value-display
            .value-text.m-auto
        .clue-display
            .clue-text.m-auto
        .response-display 
            .response-text.m-auto

.lecterns
    +lectern(0)
    +lectern(1)
    +lectern(2)

audio#timeout-sound
    source(src="/media/Jeopardy-time.mp3" type="audio/mpeg")
audio#dd-sound
    source(src="/media/dailydouble.mp3" type="audio/mpeg")
audio#fj-reveal-sound
    source(src="/media/FJreveal.mp3" type="audio/mpeg")
audio#think-sound
    source(src="/media/think.mp3" type="audio/mpeg")