link(rel="stylesheet" href="/css/components/init_container/create_tab.css")
.input-row-h
    input#load-file(type="file" accept=".json")
    button#load-data.btn.btn-secondary.f-1.me-2
        label.w-100.h-100(for="load-file") Load
    button#save-data.btn.btn-primary.f-1 Download .json
.input-row-v 
    .input-label Game Metadata
    .input-container
        .d-flex.flex-column.w-100
            .w-100.d-flex.flex-column
            .metadata-header
                .metadata-item.fw-bold
                    .metadata-title Name
                    .metadata-value Value
            .create-game-metadata.w-100.d-flex.flex-column
            button#create-game-metadata.btn.btn-sm.btn-primary Add
.game-data.d-flex.flex-column
    .input-row-v 
        .input-label Game Notes 
        .input-container 
            textarea#game-notes.w-100(placeholder="Game notes" rows="5")
    .input-row-h
        .input-label Round
        .input-container
            each val,ind in ['J','DJ','FJ']
                input.invalid(type="radio" value=`${ind}` id=`selected-round-${ind}` name="selected-round" checked=ind===0)
                label(for=`selected-round-${ind}`)
                    .label-inner= val
    .input-row-v.no-fj
        .input-label Category 
        .input-container 
            select#category-select.w-100
                each cat in [0,1,2,3,4,5]
                    option.invalid(value=`${cat}`)= `${cat+1}. [Blank] ⚠️`
    .input-row-v 
        .input-label Edit Category Name (max 35 chars)
        .input-container 
            input#category-name.w-100(type="text" placeholder="Category name" maxlength="35")
    .input-row-v.no-fj
        .input-label Edit Category Comments (max 100 chars)
        .input-container 
            input#category-comments.w-100(type="text" placeholder="Category comments" maxlength="100")
    .input-row-v.no-fj
        .input-label Move Category
        .input-container 
            button#move-category-up.move-category.btn.btn-outline-secondary.f-1.me-1.fs-2.p-1(data-dir="-1") &#9650;
            button#move-category-down.move-category.btn.btn-outline-secondary.f-1.ms-1.fs-2.p-1(data-dir="1") &#9660;
    .input-row-h.no-fj
        .input-label Value
        .input-container
            each val in [0,1,2,3,4]
                input.invalid(type="radio" value=`${val}` id=`selected-clue-${val}` name="selected-clue" checked=val===0)
                label(for=`selected-clue-${val}`)
                    .label-inner= `$${(val+1)*200}`
    .input-row-v
        .input-label Clue Text (max 150 chars)
        .input-container
            .ratio.ratio-4x3 
                div.p-4.clue-text-container
                    textarea#edit-clue-text.w-100.h-100(placeholder="Clue text" maxlength="150")
    .input-row-v 
        .input-label Correct Response
        .input-container 
            input#correct-response.w-100(type="text" placeholder="Correct response")
    .input-row-v.no-fj
        .input-label Move Clue
        .input-container 
            button#move-clue-left.move-clue.btn.btn-outline-secondary.f-1.me-1.fs-2.p-1(data-dir="-1") &#9664;
            button#move-clue-right.move-clue.btn.btn-outline-secondary.f-1.ms-1.fs-2.p-1(data-dir="1") &#9654;
    .input-row-v
        button#clear-create-form.btn.btn-warning(data-bs-toggle="modal" data-bs-target="#clear-create-modal") Clear All
